name: Gitleaks Secret Scan

on:
    pull_request:
        branches: [main]

permissions:
    contents: read
    pull-requests: read

jobs:
    gitleaks:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  submodules: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              timeout-minutes: 3
            - name: Run Gitleaks
              uses: gitleaks/gitleaks-action@v2.3.9
              env:
                  GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  ACTIONS_CACHE_URL: ${{ env.ACTIONS_CACHE_URL }}
                  ACTIONS_RUNTIME_TOKEN: ${{ env.ACTIONS_RUNTIME_TOKEN }}
              timeout-minutes: 5
            - name: Clean up temp files
              run: rm -rf .gitleaks gitleaks.tmp gitleaks.*.tmp
              timeout-minutes: 1
